<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
	Copyright (c) 2018-2019 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	http://www.eclipse.org/legal/epl-2.0.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<?pde version="3.8"?>
<target name="org.eclipse.passage.lic.target" sequenceNumber="15">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/cbi/updates/license/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/releases/2018-09/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
			<repository location="http://download.eclipse.org/eclipse/updates/4.9/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.slf4j.api" version="0.0.0"/>
			<unit id="org.slf4j.api.source" version="0.0.0"/>
			<unit id="org.bouncycastle.bcpg" version="0.0.0"/>
			<unit id="org.bouncycastle.bcpg.source" version="0.0.0"/>
			<unit id="org.bouncycastle.bcpkix" version="0.0.0"/>
			<unit id="org.bouncycastle.bcpkix.source" version="0.0.0"/>
			<unit id="org.bouncycastle.bcprov" version="0.0.0"/>
			<unit id="org.bouncycastle.bcprov.source" version="0.0.0"/>
			<unit id="com.sun.jna" version="4.5.1.v20180403-1933"/>
			<unit id="com.sun.jna.platform" version="4.5.1.v20180403-1933"/>
			<unit id="com.sun.jna.platform.source" version="4.5.1.v20180403-1933"/>
			<unit id="com.sun.jna.source" version="4.5.1.v20180403-1933"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.junit" version="4.12.0.v201504281640"/>
			<unit id="org.junit.source" version="4.12.0.v201504281640"/>
			<unit id="org.mockito" version="2.13.0.v20180426-1843"/>
			<unit id="org.mockito.source" version="2.13.0.v20180426-1843"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.2.v20180207-1730"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.2.v20180207-1730"/>
			<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.9.2.v20180207-1730"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
		</location>
	</locations>
</target>
