<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<!--
	Copyright (c) 2018, 2026 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
		ArSysOp - further support
-->
<target name="org.eclipse.passage.baseline">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/eclipse/updates/4.41/R-4.41-202608281142/"/>
			<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/passage/updates/release/latest/"/>
			<unit id="org.eclipse.passage.ldc.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.passage.lic.execute.feature.feature.group" version="0.0.0"/>
		</location>
	</locations>
</target>