<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2018, 2020 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="%product.name"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="appName"
               value="%application.name">
         </property>
         <property
               name="aboutImage"
               value="images/about.png">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.passage.loc.operator/css/default.css">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/org.eclipse.passage.loc.workbench/LOC.e4xmi">
         </property>
         <property
               name="windowImages"
               value="images/loc16.png,images/loc32.png,images/loc48.png,images/loc64.png">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://org.eclipse.passage.loc.workbench/org.eclipse.passage.loc.workbench.LocLifeCycle">
         </property>
      </product>
   </extension>
   
    <extension
         id="licensing"
         point="org.eclipse.e4.workbench.model">
      <processor
            apply="always"
            beforefragment="false"
            class="org.eclipse.passage.lic.e4.ui.addons.E4LicensingProcessor">
      </processor>
   </extension>

</plugin>
