<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2019, 2021 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/overviewExtensionContent.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/intro/tutorialsExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.passage.ldc.cheatsheets"
            name="License Management">
      </category>
      <cheatsheet
            category="org.eclipse.passage.ldc.cheatsheets"
            composite="true"
            contentFile="$nl$/cheatsheets/rcp3x-composite.xml"
            id="org.eclipse.passage.ldc.cheatsheets.rcp3x"
            name="%cheatsheets.rcp3x.name">
         <description>
            %cheatsheets.rcp3x.description
         </description>
      </cheatsheet>
      <cheatsheet
            category="org.eclipse.passage.ldc.cheatsheets"
            composite="true"
            contentFile="$nl$/cheatsheets/rcp4x-composite.xml"
            id="org.eclipse.passage.ldc.cheatsheets.rcp4x"
            name="%cheatsheets.rcp4x.name">
         <description>
            %cheatsheets.rcp4x.description
         </description>
      </cheatsheet>
   </extension>

</plugin>
