CTabItem, TooBar, Button, CBanner, CoolBar {
	font-size: 12;
	background-color: #f0f0f0;
}



.MPartStack.active {
	swt-unselected-tabs-color: #F3F9FF #D0DFEE #CEDDED #CEDDED #D2E1F0 #D2E1F0 #FFFFFF 20% 45% 60% 70% 100% 100%;
	swt-outer-keyline-color: #B6BCCC;
}

.MPartStack {
	font-size: 12;
	font-family: 'Segoe UI';
	swt-simple: true;
	swt-mru-visible: false;
	swt-unselected-tabs-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(255, 255, 255) 100% 100%;
}

Composite Label {
 color: black;
}

Text {
 font: Verdana 10px;
}

Button {
 font: Verdana 12px; 
 border-color: #EEEE00;
 border-width: 2;
}

/* Identifies only those SWT Text elements 
   appearing within a Composite */
Composite Text {
 background-color: white; 
 color: black;
}

SashForm {
 background-color: #c1d5ef;
}

/* background uses a gradient */
.MTrimBar {
 background-color: #e3efff #c1d5ef;
}
