<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2019, 2021 ArSysOp and others

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            class="org.eclipse.passage.ldc.internal.pde.ui.templates.e3.LicensedE3ProductContentWizard"
            icon="platform:/plugin/org.eclipse.passage.lic.jface/$nl$/icons/obj16/passage.png"
            id="org.eclipse.passage.ldc.pde.ui.pluginContent.rcp3"
            java="true"
            name="%pluginContent.LicensedE3Product.name"
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="true">
         <description>
            %pluginContent.LicensedE3Product.description
         </description>
      </wizard>
      <wizard
            class="org.eclipse.passage.ldc.internal.pde.ui.templates.e4.LicensedE4ProductContentWizard"
            icon="platform:/plugin/org.eclipse.passage.lic.jface/$nl$/icons/obj16/passage.png"
            id="org.eclipse.passage.ldc.pde.ui.pluginContent.rcp4"
            java="true"
            name="%pluginContent.LicensedE4Product.name"
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="true">
         <description>
            %pluginContent.LicensedE4Product.description
         </description>
      </wizard>
      <wizard
            class="org.eclipse.passage.ldc.internal.pde.ui.templates.fullfeather.LicensedE4FullFeatherProductContentWizard"
            icon="platform:/plugin/org.eclipse.passage.lic.jface/$nl$/icons/obj16/passage.png"
            id="org.eclipse.passage.ldc.pde.ui.fullFeatherPassageProduct.rcp4"
            java="true"
            name="%pluginContent.LicensedE4FullFeatherProduct.name"
            pureOSGi="false"
            rcp="true"
            requiresActivator="false"
            ui-content="true">
         <description>
            %pluginContent.LicensedE4Product.description
         </description>
      </wizard>
   </extension>

</plugin>
