<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
	Copyright (c) 2021 ArSysOp

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->
<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated keys -->
      <package
            uri="http://www.eclipse.org/passage/lic/keys/2.0.0"
            class="org.eclipse.passage.lic.keys.model.meta.KeysPackage"
            genModel="model/keys.genmodel"/>
   </extension>

</plugin>
