<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG"
	packages="org.eclipse.passage.lbc.internal.base,org.eclipse.passage.lbc.internal.jetty,org.eclipse.passage.lic.internal.jetty,org.eclipse.passage.lic.internal.net">

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36}: %msg%n" />
		</Console>

		<Routing name="Routing">
			<Routes pattern="$${sd:type}">
				<Route>
					<RollingFile name="logs-FLS"
						fileName="logs/fl-server.log" filePattern="fl-server.%i.log.gz">
						<PatternLayout>
							<pattern>%d{HH:mm:ss} %p %c{3.} [%t] %m%n</pattern>
						</PatternLayout>
						<SizeBasedTriggeringPolicy size="500000" />
					</RollingFile>
				</Route>
				<Route ref="Console" key="Audit" />
			</Routes>
		</Routing>

	</Appenders>

	<Loggers>

		<Root level="debug">
			<AppenderRef ref="Routing" />
		</Root>

	</Loggers>

</Configuration>