<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright (c) 2021 ArSysOp 

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License 2.0 which is available at
	https://www.eclipse.org/legal/epl-2.0/.

	SPDX-License-Identifier: EPL-2.0

	Contributors:
		ArSysOp - initial API and implementation
-->

<Configuration status="DEBUG" packages="org.eclipse.passage,org.apache.logging.log4j2,org.eclipse">

	<Appenders>

		<Console name="ToSysOut" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36}: %msg%n" />
		</Console>

		<Routing name="ToFile">
			<Routes pattern="$${sd:type}">
				<Route>
					<RollingFile name="logs-FLS"
						fileName="logs/fl-server.log" filePattern="fl-server.%i.log.gz">
						<PatternLayout>
							<pattern>%d{HH:mm:ss} %p %c{1.} [%t] %m%n</pattern>
						</PatternLayout>
						<SizeBasedTriggeringPolicy size="500000" />
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		
		<Routing name="ToTalk">
			<Routes pattern="$${sd:type}">
				<Route>
					<RollingFile name="talk-FLS"
						fileName="logs/talk.log" filePattern="talk.%i.log.gz">
						<PatternLayout>
							<pattern>%d{HH:mm:ss} %p %c{1.} [%t] %m%n</pattern>
						</PatternLayout>
						<SizeBasedTriggeringPolicy size="500000" />
					</RollingFile>
				</Route>
			</Routes>
		</Routing>

	</Appenders>

	<Loggers>

		<Root level="info">
			<AppenderRef ref="ToTalk" />
		</Root>
		<Logger name="org.eclipse.passage">
			<AppenderRef ref="ToFile" />
		</Logger>
		<Logger name="org.apache.logging.log4j">
			<AppenderRef ref="ToTalk" />
		</Logger>

	</Loggers>

</Configuration>
